/* styles.css */
.body{
        font-family: Arial, sans-serif;
        margin: 5;
        padding: 0;
        line-height: 1.6;
    
    
}

.header {
    background-image: url('imagen2.png');
    background-size: cover; /* Ajusta la imagen para que cubra todo el encabezado */
    background-position: center; /* Centra la imagen en el encabezado */
    height: 300px; /* Ajusta la altura del encabezado */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto para que contraste con la imagen */
}

.titulo1{
    margin-top: 0%;
    padding: 5%;
    list-style: 1.6;
}

.imagen{
    margin-left: 30%;
    height: 25px;
    width: 50px;
}

.sinopsis{
    text-align: center;
    margin-top: 30%;
    padding: 25%;
}
